<h3>Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit()" myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
        </mat-input-container>
      </td>
      <td></td>
    </tr>
  </table>
  <p>
    <mat-input-container class="fullwidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </mat-input-container>
  </p>
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode" [(ngModel)]="address.postalcode" name="postalcode">
          <mat-hint align="end">
            {{postalcode.value.length}} / 5
          </mat-hint>
        </mat-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <mat-radio-group>
          <mat-radio-button>Test</mat-radio-button>
          <mat-radio-button>Test2</mat-radio-button>
        </mat-radio-group>
    </tr>
    <tr>
      <mat-checkbox>Red Card</mat-checkbox>
      <mat-checkbox>Missed Penalty</mat-checkbox>
    </tr>
  </table>
  <mat-checkbox>Align here</mat-checkbox>
  <p>
    <button type="submit" mat-raised-button>Submit</button>
  </p>
</form>

<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>


