<script src="../details/details.module.ts"></script>
<div class="example-container mat-elevation-z8">
  <!--<div class="example-header">-->
    <!--<mat-form-field floatPlaceholder="never">-->
      <!--<input matInput #filter placeholder="Filter users">-->
    <!--</mat-form-field>-->
  <!--</div>-->

  <mat-table #table [dataSource]="datasource">

    <ng-container matColumnDef="Number">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.matchdate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Match">
      <mat-header-cell *matHeaderCellDef [ngClass]="customWidthClass">Match</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="customWidthClass">{{element.match}}</mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="Placed_bet">-->
      <!--<mat-header-cell *matHeaderCellDef>Bet</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element" >-->
        <!--<mat-select-->
          <!--[ngModel] = "element?.selection"-->
          <!--(ngModelChange)="element.placed_bet = $event"-->
        <!--&gt;-->
          <!--<mat-option-->
            <!--*ngFor="let bettype of bettypes | appKeys"-->
            <!--[value]="bettype.key">{{bettype.value}}</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="Odds">
      <mat-header-cell *matHeaderCellDef>Odds</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.odds}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Stake">
      <mat-header-cell *matHeaderCellDef>Stake</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.stake}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Outcome">
      <mat-header-cell *matHeaderCellDef>Outcome</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-select (valueChange)="determineBet(element, $event)"
                    [ngModel]="element?.outcome"
                    (ngModelChange)="element.outcome = $event">
          <mat-option
            *ngFor="let outcome of outcomes | appKeys"
            [value]="outcome.key">{{outcome.value }}</mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Details">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="material-icons md-24">details</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Value_Return" >
      <mat-header-cell *matHeaderCellDef>+/-</mat-header-cell>
      <mat-cell *matCellDef="let element" class="win">{{element.valueReturn}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


