<h3>New Bet</h3>
<form class="formwidth" (ngSubmit)="onSubmit(bet);  myNgForm.resetForm()" #myNgForm="ngForm">

  <!--<form (ngSubmit)="mySubmitHandler(); myNgForm.resetForm()" #myNgForm="ngForm">-->
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullwitdh">
          <input matInput
                 placeholder="Match"
                 id="match"
                 [(ngModel)]="bet.match"
                 name="match">
        </mat-form-field>
      </td>
      <td>
        <mat-input-container class="fullwitdh">
          <input matInput
                 type="text"
                 placeholder="League"
                 id="league"
                 [(ngModel)]="bet.league"
                 name="league">
        </mat-input-container>
      </td>
      <td>
        <mat-form-field class="fullwitdh">
          <input matInput
                 type="date"
                 placeholder="Date"
                 id="date"
                 [(ngModel)]="bet.matchdate"
                 name="date">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-select placeholder="Selection"
                      name="selection"
                      [(ngModel)]="bet.selection"
                      >
            <mat-option *ngFor="let bettype of bettypes"
                        [value]="bettype.value">
                {{ bettype.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Bookie"
                      name="bookie"
                      [(ngModel)]="bet.bookie">
            <mat-option *ngFor="let bookie of bookies"
                        [value]="bookie.value">
              {{ bookie.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="fullwitdh">
          <input matInput
                 placeholder="Odds"
                 id="odds"
                 [(ngModel)]="bet.odds"
                 name="odds">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwitdh">
          <input matInput
                 placeholder="Stake"
                 type="number"
                 id="stake"
                 [(ngModel)]="bet.stake"
                 name="stake">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Outcome"
                      name="outcome"
                      [(ngModel)]="bet.outcome"
                      (change)="settleBet(bet)">
            <mat-option *ngFor="let outcome of outcomes"
                        [value]="outcome.value"
            >
              {{ outcome.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <mat-form-field class="fullwidth">
        <input matInput
               placeholder="Result"
               type="text"
               id="result"
               [(ngModel)]="bet.result"
               name="result">
      </mat-form-field>
      <mat-form-field class="fullwidth">
        <input matInput
               type="number"
               placeholder="Value return"
               id="league"
               disabled
               [(ngModel)]="bet.valueReturn"
               name="valueReturn">
      </mat-form-field>
    </tr>
    <tr>
      <td>
        <mat-checkbox
          [checked]="bet.live"
          (change)="bet.live = !bet.live"> Live
        </mat-checkbox>
      </td>
    </tr>
    <tr>
      <mat-checkbox
        [checked]="bet.missed_penalty"
        (change)="bet.missed_penalty = !bet.missed_penalty">Missed Penalty
      </mat-checkbox>
    </tr>
    <tr>
      <mat-checkbox
        [checked]="bet.red_card"
        (change)="bet.red_card = !bet.red_card"
      >Red Card
      </mat-checkbox>
    </tr>
  </table>
  <p>
    <button
      type="submit"
      mat-raised-button>
        Submit</button>
  </p>
</form>

