<mat-grid-list cols="2" rowHeight="2:1">
  <!--<mat-grid-tile>-->
      <!--Number of bets: {{getNumberOfBets()}} <br>-->
      <!--Number of wins: {{getWins()}} <br>-->
      <!--Number of half wins: {{getHalfWins()}} <br>-->
      <!--Number of half losses: {{getHalfLosses()}} <br>-->
      <!--Number of losses: {{getLosses()}} <br>-->
      <!--Number of push: {{getPushes()}} <br>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile colspan="1" rowspan="1">-->
      <!--Staked: {{getStaked()}} <br>-->
      <!--Settled amount staked: {{getSettledStaked()}} <br>-->
      <!--Returned: {{getReturned()}} <br>-->
    <!--Grand total: {{getReturned() - getSettledStaked()}} <br>-->
    <!--ROI%: {{getROI()}} <br>-->
  <!--</mat-grid-tile>-->
</mat-grid-list>

Number of bets: {{ numberOfBets }}
